<html>
{{#each foo}}
{{this}}
{{/each}}





<h3>Add User:</h3>


<form name="add_user_form" action="/users" method="POST">


    <div class="form-group">
        <label>user_id</label>
        <input type="text" class="form-control" id="user_id" name="user_id">
    </div>
    <div class="form-group">
        <label>user_name</label>
        <input type="text" class="form-control" id="user_name" name="user_name">
    </div>
    <div class="form-group">
        <label>user_role</label>
        <input type="text" class="form-control" id="user_role" name="user_role">
    </div>
    <div class="form-group">
        <label>user_email</label>
        <input type="text" class="form-control" id="user_email" name="user_email">
    </div>
    <div class="form-group">
        <label>user_pw</label>
        <input type="text" class="form-control" id="user_pw" name="user_pw">
    </div>

    <input type="submit" value="Submit">
</form>
<br />


<h3>Users:</h3>
<table>
    <thead>
        <th>user_id</th>
        <th>user_name</th>
        <th>user_role</th>
        <th>user_email</th>
        <th>user_pw</th>

    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{user_id}}</td>
            <td>{{user_name}}</td>
            <td>{{user_email}}</td>
            <td>{{user_role}}</td>
            <td>{{user_pw}}</td>

            <td><a href="/users/{{user_id}}">Update</a></td>
            <td><a href="/users/delete/{{user_id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

</html>